{% extends "layout.html" %}


{% set bodyId = "page-ideas" %}

{% block title %}
<title>Ideias - Casa Criativa </title>
{% endblock title %}



{% block content %}


<header>
    <a href="/">
        <img src="/logo.png" alt="Logo do site" />
    </a>
    <nav>
        <li><a href="/">Início</a></li>
        <li><a href="#" onclick="onOff()">Nova Ideia</a></li>
    </nav>
</header>

<section id="title">
    <p>em exibição</p>
    <h1>Ideias</h1>
</section>

<main>
    <section id="ideas">

        {% include "all_Ideas.html" %}

    </section>
</main>

<footer>
    Com &#x1F493
    <a href="https://www.linkedin.com/in/jose-mariotto-39b943224/" target="_blank">José Mariotto</a>
</footer>

{% endblock %}