{% extends "layout.html" %}

{% block content %}

<section id="intro">

  <header>
    <a href="/">
      <img src="/logo.png" alt="Logo do site" />
    </a>

  </header>

  <main>

    <p>Ficar em casa em períodos longos, não deve ser nada fácil.</p>
    <p>
      Iremos catalogar ideias,
      <strong>brincadeiras, jogos, filmes, livros, cursos, dicas</strong>
      e tudo que for necessário para tornar esse momento mais interessante.
    </p>
    <p>
      Comece clicando em ver ideias para ver as ideias cadastradas e
      contribua
      adicioando a sua ideia.
    </p>
  </main>

  <section class="buttons">

    <button onclick="onOff()" class="addIdeias">+ Adicionar Ideias</button>
    <a href="/ideias" class="button">Ver Ideias</a>
  </section>


  <footer>
    Com &#x1F493
    <a href="https://www.linkedin.com/in/jose-mariotto-39b943224/" target="_blank">José Mariotto</a>
  </footer>

</section>

<section id="last-ideias">

  {% include "all_Ideas.html" %}

</section>

{% endblock %}